/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
.head {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.logo {
  width: 110px;
  height: 50px;
  margin-left: 20px;
}

.botones {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  margin-top: 20px;
}

.botones a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

/* .party {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

.text-image {
  background-image: url(/images/landing.jpeg);
  background-size: 100%;
  color: white;
  text-align: center;
}

.middle-title {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.middle img {
  height: 100px;
  width: 100px;
}

.middle h3 {
  color: #00b172;
}

.middle {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  text-align: center;
}

.green {
  background-color: #00b172;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.song {
  height: 450px;
  width: 300px;
}

.white-logo {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
}

.text-green {
  color: white;
  margin-top: 50px;
  flex-direction: column;
}

.text-west {
  margin-top: 50px;
}

.appdown {
  margin-top: 60px;
}

.kanye {
  text-decoration-line: underline;
}
